
body {
	background: url("/images/background.png") repeat-x;
	background-color: #FFF;
	color: #FFF;
	font-family: Verdana;
	font-size: 0.75em;
	line-height: 16px;
	margin: 0px;
}

/* begin layout styles */
#frame {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 1000px;
	height: 129px;
}

#intro {
	width: 970px;
	height: 61px;
	padding: 15px;
	border-top: 1px solid #426BA3;
	background-color: #426BA3;
}

#intro h1 {
	margin: 0px 0px 14px 0px;
	font-size: 1.2em;
	font-weight: bold;
}

#layout_error {
	width: 950px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #D4A7AC;
	background-color: #FFD4D9;
	font-size: 11px;
	line-height: 14px;
	min-height: 26px;
}

#layout_error img {
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}


/* end layout styles */


/* begin index styles */

/*layout styles*/

#wrapper {
	background: url("/images/content_background.png") repeat-x;
	background-color: #FFF;
	color: #333;
 	margin: 0 auto;
 	width: 1000px;
}

#wrapper label {
	margin: 15px 0 0 0;
	font-weight: bold;
	display: block;
}

#faux {
 	margin: 0;
 	overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 	width: 100%;
}

#leftcolumn { 
	display: inline;
 	width: 231px;
	margin: 15px 0px 0px 15px;
 	float: left;
}

#leftmiddle {
	display: inline;
	position: relative;
 	width: 231px;
	margin: 15px 0px 0px 15px;
	float: left;
}

#rightmiddle { 
	display: inline;
 	position: relative;
 	width: 231px;
	margin: 15px 0px 0px 15px;
	float: left;
}

#rightcolumn { 
	display: inline;
 	position: relative;
 	width: 231px;
	margin: 15px 15px 0px 15px;
 	float: left;
}

/*shared styles*/
div.clear {
	clear: both;
	background: block;
}

input.entry {
	margin-top: 5px;
	width: 227px;
}

select.entry {
	margin-top: 5px;
	width: 231px;
}


/*left column styles*/
#error {
	width: 209px;
	padding: 10px;
	margin: 15px 0;
	border: 1px solid #D4A7AC;
	background-color: #FFD4D9;
	font-size: 11px;
	line-height: 14px;
	min-height: 30px;
}

#error img {
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}

#custom {
	width: 209px;
	padding: 10px;
	margin: 15px 0;
	border: 1px solid #D4D4A7;
	background-color: #FFFFD4;
	font-size: 11px;
	line-height: 14px;
}

#custom img {
	float: left;
	margin-right: 10px;
}

#custom-message {
	display: block;
}

/* right middle column styles */

#rightmiddle select {
	margin-top: 5px;
}

select#reminder_start_time_4i {
	width: 62px;
}

select#reminder_start_time_5i {
	width: 43px;
}

select.time_zone {
	width:125px;	
}

#reminder_start_date {
	width: 100px;
}

.yui-skin-sam .yui-calendar .calheader {
	color: #333333;
}

/*right column styles*/
#preview {
	margin: 15px 0px 0px 0px;
	padding: 130px 0px 0px 30px;
	background: url("/images/iphone.png") no-repeat;
	width: 202px;
	height: 310px;
}

#preview-message {
	width: 170px;
	height: 61px;
/*	display: none;*/
}

#preview-top {
	background: url("/images/preview-top.png") no-repeat;
	width: 170px;
	height: 10px;
}

#preview-left {
	float: left;
	background: url("/images/preview-left.png") repeat-y;
	width: 12px;
	height: 61px;
}

#preview-bulk {
	float: left;
	background-color: #D1D1D1;
	width: 151px;
	height: 61px;
	overflow: hidden;
}

#preview-right {
	float: left;
	background: url("/images/preview-right.png") repeat-y;
	width: 7px;
	height: 61px;
}

#preview-bottom {
	clear: both;
	background: url("/images/preview-bottom.png") no-repeat;
	width: 170px;
	height: 10px;
}

#send {
	margin-top: 90px;
	display: block;
}

/*success bar styles*/
div#success {
	margin: 0px auto;
	width: 946px;
	padding: 10px;
	font-size: 110%;
	line-height: 18px;
	color: #333;
	background: url("/images/success_bg.png");
	border: 1px solid #D4D4A7;
}

div#success img {
	float: left;
	margin-right: 10px;
}

div#success A {
	color: #333;
}

/*list or success page styles*/

#widget {
	margin: 0 auto;
}

/*footer styles*/
div#footer {
	color: #333333;
	margin: 50px 0px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 7px 0px;
	text-align: center;
}

div#footer A {
	color: #666;
}

.information {
	padding:16px;
	font-size: 14px;
	line-height: 20px;
}
.contributors {
	padding-left: 20px;
}
