.outer-container {width:1000px;margin:0 auto;}

.inner-container {
	background-image: url('/images/inner_background_gradient.png');
	height: 564px;
}

body {

	font-family: Verdana;
	font-size: 12px;
	font-weight: ;
	
	background-image: url('/images/background_gradient.png');
	background-color: #919191;
	margin: 0;
}

.step {
	float: left;
	padding: 16px;
	width: 300px;
	height: 210px;
}

.step-bottom {
	float: left;
	padding: 16px;
	width: 300px;
	height: 200px;
}


.clearingDiv {
	clear: both;
}

/* Nik's othermsg */

#othermsg {
	background: url("/images/rb.png");
	padding: 10px 10px 10px 53px;
	width: 237px;
	height: 45px;
	font-size: 11px;
	line-height: 14px;
	font-family: Verdana;
	color: #999;
}

#othermsg h3 {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

/* end Nik's othermsg */

/* CTA Starts */
#cta {
	background: url("/images/cta_bg.png");
	width: 936px;
	height: 31px;
	padding: 11px 15px;
	font-family: Verdana;
	font-size: 14px;
	color: #DDD;
}

#cta A {
	color: #FFF;
}

#cta_wrapper {
	float: left;
	width: 966px;
}

#cta_label {
	width: 600px;
	float: left;
}

#cta_label P {
	margin: 5px 0px 0px 0px;
}

#cta_button {
	width: 335px;
	text-align: right;
	float: left;
}
/* CTA Ends */


/* reset block */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
*/	vertical-align: baseline;
}

body { line-height: 1.5;}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }
/* end reset block */



/*styling forms from blueprint*/
label { display: block; }

/* Fieldsets */
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }

/* Text fields */
input {
	margin: 0 0 .5em 0;
}

input.text, input.title   { width: 300px; margin:0.5em 0.5em 0.5em 0; }
input.text, input.title   { border:1px solid #bbb; background:#f6f6f6; padding:5px; }
input.text:focus,
input.title:focus         { border:1px solid #999; background:#fff; }
input.title               { font-size:1.5em; }

/* Textareas */
textarea            { width: 400px; height: 250px; margin:0.5em 0.5em 0.5em 0; }
textarea            { border:1px solid #bbb; background:#eee; padding:5px; }
textarea:focus      { border:1px solid #999; background:#fff; }

/* Select fields */
select { border:1px solid #ccc; background:#f6f6f6; width:50px; }
select:focus { border:1px solid #999; background:#fff; }
select.message { width: 300px }
select.time_zone { width: 150px }
/* Select fields */
select              { border:1px solid #ccc; background:#f6f6f6; width:50px; }
select:focus        { border:1px solid #999; background:#fff; }


/* Success, error & notice boxes for messages and errors. */
.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error      { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a    { color: #D12F19; }
.notice a   { color: #817134; }
.success a  { color: #529214; }
/*end forms from blueprint*/

#custom_section {
		display: none;
}

#error {
	background: url("/images/errorbg.png");
	width: 236px;
	height: 34px;
	color: #333;
	font-family: Verdana;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px 8px 54px;
	margin:10px 0px;
}
