.information
  %h1
    Thanks for using RemindBlast!
  %p
    RemindBlast was built in one day using the
    = link_to "Spongecell API", "http://spongecell.com/api"
    with the
    = link_to "Sponger toolkit", "http://code.google.com/p/sponger/"
    and ActiveResource with Ruby on Rails 2.0.
  %p
    Contributors
    .contributors
      %ul
        %li
          Audrey Bilsborrow
        %li
          Nik Bonnadio
        %li
          Chris Hobbs
        %li
          David Passiak
        %li
          Kevin Trowbridge
  %p
    Visit Spongecell for the best
    = link_to "online calendars and event promotion", "http://spongecell.com"
    tools in existence.
  %p
    To subscribe to the latest news and updates about RemindBlast text 
    %b
      Go RemindBlast
    to SPONGE (776643).